.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #2963a3;
}

.footer__main {
  position: relative;
  z-index: 99;
  min-height: 302px;
  max-height: 302px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.footer__container {
  min-height: 248px;
  max-height: 248px;
  min-width: 1440px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: #2963a3;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-items: center;
  gap: 1em;
}

.footer__links {
  display: grid;
  grid-template-columns: 184px 184px;
  margin: 40px 0 78px 124px;
  padding: 0;
  column-gap: 93px;
  list-style: none;
  height: 184px;
}

.footer__links_link {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.footer__copyright {
  background-color: #2963a3;
  min-height: 54px;
  max-height: 54px;
  min-width: 1440px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.footer__news {
  max-width: 488px;
  max-height: 170px;
  width: 100%;
  height: 100%;
  margin: 40px 0 38px 0;
}

.footer__news_title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0 130px 8px 0;
}

.footer__news_input-container {
  position: relative;
  max-height: 48px;
  height: 100%;
  margin-bottom: 8px;
}

.footer__news_input {
  min-width: 384px;
  max-width: 384px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  padding: 10px 0 14px 16px;
  border-radius: 4px;
  border-color: #9d9d9d;
  stroke: 20%;
  font-size: 14px;
  color: #9d9d9d;
  border-style: none;
}

.footer__news_input-container button {
  cursor: pointer;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 88px;
  width: 64px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #16c8bb;
}

.footer__news_info {
  max-width: 486px;
  max-height: 54px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  opacity: 70%;
}

.footer__social {
  display: flex;
  flex-flow: column;
  gap: 40px;
  max-width: 221px;
  max-height: 122px;
  width: 100%;
  height: 100%;
  margin: 40px 0 86px 0;
}

.footer__social_skolkovo {
  max-width: 221px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}

.footer__social_links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  gap: 8px;
  max-width: 176px;
  max-height: 132px;
  width: 100%;
  height: 100%;
}

.footer__copyright_buttom-line {
  min-height: 1px;
  max-height: 1px;
  min-width: 1200px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  background-color: #9d9d9d;
  margin: 0 120px 0 120px;
}

.footer__copyright_container {
  display: flex;
  flex-flow: row;
  gap: 48px;
  max-height: 20px;
  max-width: 563px;
  width: 100%;
  height: 100%;
  margin: 16px 0 17px 120px;
  padding: 0;
}

.footer__copyright_text {
  margin: 0;
  padding: 0;
  opacity: 70%;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-wrapper {
    display: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-wrapper {
    display: unset;
  }

  .footer__links {
    column-gap: 30px;
  }

  .footer__container {
    max-width: 1024px;
    grid-template-columns: 1fr 1.5fr 0.6fr;
    gap: 0;
  }

  .footer__main {
    max-width: 1024px;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  .footer-wrapper {
    display: unset;
  }

  .footer__main {
    display: flex;
    flex-flow: column;
    min-height: 454px;
    max-height: 454px;
    min-width: 768px;
    max-width: 768px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .footer__container {
    min-height: 454px;
    max-height: 454px;
    min-width: 768px;
    max-width: 768px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "col1 col2" "col3 col2";
    box-sizing: border-box;
  }

  .footer__news_input-container button {
    right: 12px;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 111px 111px;
    margin: 35px 0 26px 20px;
    padding: 0;
    column-gap: 0;
    list-style: none;
    height: 184px;
    grid-area: col1;
  }

  .footer__news {
    grid-area: col2;
  }

  .footer__social {
    grid-area: col3;
  }

  .footer__copyright_buttom-line {
    margin: 0 20px 0 20px;
    min-width: 728px;
    max-width: 728px;
  }

  .footer__copyright {
    min-height: 37px;
    max-height: 37px;
    min-width: 768px;
    max-width: 768px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .footer-wrapper {
    display: unset;
  }

  .footer__main {
    min-height: 454px;
    max-height: 454px;
    min-width: 768px;
    max-width: 768px;
    width: 100%;
    height: 100%;
  }

  .footer__container {
    min-height: 454px;
    max-height: 454px;
    min-width: 768px;
    max-width: 768px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "col1 col2" "col3 col2";
    gap: 1em;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 111px 111px;
    margin: 35px 0 26px 20px;
    padding: 0;
    column-gap: 0;
    list-style: none;
    height: 184px;
    grid-area: col1;
  }

  .footer__news {
    grid-area: col2;
  }

  .footer__social {
    grid-area: col3;
  }

  .footer__copyright_buttom-line {
    margin: 0 20px 0 20px;
    min-width: 728px;
    max-width: 728px;
  }

  .footer__copyright {
    min-height: 37px;
    max-height: 37px;
    min-width: 768px;
    max-width: 768px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .footer-wrapper {
    display: unset;
  }

  .footer__main {
    min-height: 746px;
    max-height: 746px;
    min-width: 414px;
    max-width: 414px;
    width: 100%;
    height: 100%;
  }

  .footer__container {
    min-height: 746px;
    max-height: 746px;
    min-width: 414px;
    max-width: 414px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "col1" "col2" "col3";
    gap: 1em;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 111px 111px;
    margin: 35px 0 26px 20px;
    padding: 0;
    column-gap: 2em;
    list-style: none;
    height: 184px;
    grid-area: col1;
  }

  .footer__news {
    grid-area: col2;
    min-width: 330px;
    max-width: 330px;
    margin-left: 20px;
  }

  .footer__news_input {
    min-width: 300px;
    max-width: 300px;
  }

  .footer__news_input-container button {
    right: 14px;
  }

  .footer__social {
    grid-area: col3;
    margin: 10px 10px 10px 0;
  }

  .footer__copyright_buttom-line {
    margin: 0 20px 0 20px;
    min-width: 374px;
    max-width: 374px;
  }

  .footer__copyright_container {
    flex-flow: column;
  }

  .footer__copyright {
    min-height: 230px;
    max-height: 230px;
    min-width: 414px;
    max-width: 414px;
  }
}
